<html>
<head>
  <title><%= portal %></title>
  <link href="/<%= module %>/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/<%= module %>/css/style.css" rel="stylesheet">
</head>
<body>
  <%- partial('../parts/menu', { menu }) %>
  <%- body -%>
  <script src="/<%= module %>/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/<%= module %>/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/<%= module %>/js/scripts.js"></script>
</body>
</html>